@import './normalize.css';
@import './fonts.css';

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

.menu-section {
    background-color: #E5E5E5;
    padding-top: 17px;
    padding-bottom: 17px;
}

.menu {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.menu-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    text-decoration: none;
}

.logo-section {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    gap: 40px;
    align-items: center;
}

.tel {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    font-style: normal;
}

.call {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    background-color: #ffffff;
    padding: 13px 26px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.navigation-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.navigation-services {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.service-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
}

.sale-section {
    padding-top: 190px;
    padding-bottom: 190px;
    background-image: url(../images/sale.png);
    background-color: #F13C6E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sale-header {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 50px;
}

.sale-text {
    margin: 0;
    margin-bottom: 50px;
    max-width: 308px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.sale-button {
    display: block;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    text-align: center;
}

.offer-section {
    background-color: #E5E5E5;
    padding-top: 80px;
    padding-bottom: 50px;
}

.offer-header {
    margin: 0;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.offer-block {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.offer-card {
    padding: 25px 30px;
    background-color: #FFFFFF;
    text-align: center;
}

.offer-img {
    margin-bottom: 20px;
}

.offer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: 20px;
}

.offer-price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.offer-button {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 9px 40px;
    background-color: #F13C6E;
    border-radius: 30px;
}

.cards-section {
    background-color: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
    background-color: #F13C6E;
    width: 540px;
}

.card-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
}

.card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
    max-width: 235px;
}

.card-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    background-color: #FFFFFF;
    padding: 9px 25px;
    border: none;
    border-radius: 30px;
    width: 225px;
}

.card-input:focus {
    outline: 2px solid #828282;
}

.card-map {
    display: block;
    width: 175px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
}

.partners-section {
    background-color: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 40px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partrer-logo {
    display: block;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    padding: 35px 60px;
    width: 25%;
}

.views-section {
    background-color: #E5E5E5;
    padding-top: 40px;
    padding-bottom: 80px;
}

.categories-section {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #EFEFEF;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.header-categories {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 100px;
    margin: 0;
    margin-bottom: 30px;
}

.category {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
}

.category-colunm {
    padding-top: 25px;
    border-top: 1px solid #EFEFEF;
    width: 255px;
}

.connection-section {
    background-color: #FFFFFF;
    padding-top: 37px;
    padding-bottom: 37px;
}

.connection {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.socials-item {
    border: 2px solid #F13C6E;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.information-section {
    background-color: #EFEFEF;
    padding-top: 25px;
    padding-bottom: 25px;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration: none;
    margin: 0;
}